<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Define a bean properly -->
    <bean id="stdId" class="com.beans.Student">
        <property name="name" value="krishna" />
        <property name="rollNo" value="507" />
        <property name="email" value="krishna@gmail.com" />
    </bean>

</beans>
